<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700211734358-f848q2j4a13o6kps16ugracgthghvltl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700211734358-f848q2j4a13o6kps16ugracgthghvltl</string>
	<key>API_KEY</key>
	<string>AIzaSyBnemBuuzYOH9jWy_WnGfue-cdMKco9F5M</string>
	<key>GCM_SENDER_ID</key>
	<string>700211734358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>no-transito</string>
	<key>STORAGE_BUCKET</key>
	<string>no-transito.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700211734358:ios:fbcdbb6dd5b9c1d53d98f7</string>
	<key>DATABASE_URL</key>
	<string>https://no-transito-default-rtdb.firebaseio.com</string>
</dict>
</plist>